body {
    margin: 20px;
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */
    background: #FFFFFF url(./background.png) repeat-x;
    background-size: 1000px;
    backdrop-filter: brightness(70%);
}
#itfCalculator {
    border-radius: 1%;
    border-style:double;
    border-color: black;
    padding: 2%;
    padding: 6px;
    background-image: radial-gradient(0, aliceblue, rgb(187, 187, 187));
    width: 195px;
    height: 335px;
}
#display {
    border: 0px;
    padding: 0px;
    text-align: right;
    height: 100px;
    width: 180px;
    resize: none;
    background-color: rgb(31, 31, 31);
    color:azure;
    font-size: 18px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;

    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#buttons {
    margin-left: 5px;
    display: flex;
    border-radius: 2%;
    border-style: groove;
    border-color:rgb(31, 31, 31);
    width: 180px;
    height: 325px;
    background-color: beige;
    flex-wrap: wrap;
}
#btn {
    width: 45px;
    height: 45px;
    background-color: gainsboro;
    border: 1px;
    border-style: groove;
    border-color: rgb(48, 48, 48);
}
#btn1 {
    width: 90px;
    height: 45px;
    background-color: orange;
    border: 1px;
    border-style: groove;
    border-color: rgb(48, 48, 48);
}
#btn2 {
    width: 45px;
    height: 45px;
    background-color:rgb(175, 226, 226);
    border: 1px;
    border-style: groove;
    border-color: rgb(48, 48, 48);
}
#btn3 {
    width: 45px;
    height: 45px;
    background-color:darkseagreen;
    border: 1px;
    border-style: groove;
    border-color: rgb(48, 48, 48);
}