body {
    height: max-content;
    margin: 20px;
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    background: #FFFFFF url(./background.png) repeat-x;
    background-size: 1000px;
}
#itfCalculator {
    border-radius: 1%;
    border-style:double;
    border-color: black;
    padding: 2%;
    padding: 6px;
    background-color:aliceblue;
    width: 195px;
    height: 345px;
}
#display {
    border-color: beige;
    margin-left: 5px;

    text-align: right;
    height: 100px;
    width: 180px;
    resize: none;
    background-color: rgb(31, 31, 31);
    color:azure;
    font-size: 20px;
}
#buttons {
    margin-left: 5px;
    display: flex;
    border-radius: 2%;
    border-style: double;
    border-color: black;
    width: 180px;
    height: 225px;
    background-color: beige;
    flex-wrap: wrap;
}
#btn {
    width: 45px;
    height: 45px;
    background-color: gainsboro;
    border: 1px;
    border-style: groove;
    border-color: rgb(48, 48, 48);
}
#btn1 {
    width: 90px;
    height: 45px;
    background-color: orange;
    border: 1px;
    border-style: groove;
    border-color: rgb(48, 48, 48);
}
#btn2 {
    width: 45px;
    height: 45px;
    background-color:rgb(175, 226, 226);
    border: 1px;
    border-style: groove;
    border-color: rgb(48, 48, 48);
}
#btn3 {
    width: 45px;
    height: 45px;
    background-color:darkseagreen;
    border: 1px;
    border-style: groove;
    border-color: rgb(48, 48, 48);
}